<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mytodo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Trirong"
    />
    <style>
      body {
        font-family: Acme;
      }
      h2 {
        text-align: center;
        color: dimgray;
      }
      h6 {
        text-align: center;
        text-decoration-line: underline;
        text-decoration-style: wavy;
        color: cornflowerblue;
      }
      p {
        font-family: "Trirong", serif;
      }
      nav {
        background-color: lightgray;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MY TODO</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card shadow-sm p-4 bg-white rounded-3">
            <h2 class="fw-bold mb-3">ABOUT TODO LIST</h2>
            <h6><i>Made for Minds with Too Much to Do.</i></h6>
            <br />
            <p>
              A todo list is a simple but powerful tool. It clears your mind
              beacuse you write everything down. This means you never worry
              about forgetting your work. Instead, it acts like a personal map
              for your day. It guides you to follow your schedule and finish
              every task easily. It is helpful for everyone.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
